<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="system-error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/www/log/system/system-error.log</File>
        <!-- <append>：如果是 true，日志被追加到文件结尾，如果是 false，清空现存文件，默认是true。 -->
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>error</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/www/log/system/system-error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>7</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}[%line] - %msg%n</pattern>
        </encoder>
    </appender>


    <appender name="amazon" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/www/log/amazon/amazon.log</File>
        <!-- <append>：如果是 true，日志被追加到文件结尾，如果是 false，清空现存文件，默认是true。 -->
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>error</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/www/log/amazon/amazon.log.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>7</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}[%line] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="amazonmq" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/www/log/amazonmq/amazonmq.log</File>
        <!-- <append>：如果是 true，日志被追加到文件结尾，如果是 false，清空现存文件，默认是true。 -->
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>error</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/www/log/amazonmq/amazonmq.log.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>7</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}[%line] - %msg%n</pattern>
        </encoder>
    </appender>

<!-- 记录String
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>192.168.2.173:9250</destination>
        <queueSize>1048576</queueSize>
        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>-->

<!-- 记录带实体的日志到es-->
    <appender name="LOGSTASH"
              class="net.logstash.logback.appender.LogstashTcpSocketAppender">

        <destination>192.168.2.173:9250</destination>
        <queueSize>1048576</queueSize>
        <encoder charset="UTF-8"
                 class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                        <!--日志级别 -->
                        "level": "%level",
                        <!--应用名称 -->
                        "appName": "${spring.application.name:-}",
                        <!--线程名称 -->
                        "thread": "%thread",
                        "class": "%logger{40}",
                        <!--日志信息 -->
                        "message": "%message" ,
                        <!--打印时间 -->
                        "timestamp":"%date{ISO8601}",
                        <!--日志堆栈 -->
                        "stack_trace": "%exception",

                        "Phoneimei" :"%mdc{phoneimei}",
                        "phonesys" :"%mdc{phonesys}",
                        "phonetype" :"%mdc{phonetype}",
                        "version" :"%mdc{version}",
                        "platform" :"%mdc{platform}",
                        "build" :"%mdc{build}",
                        "apiUrl" :"%mdc{apiUrl}",
                        "methodName" :"%mdc{methodName}",
                        "accessToken" :"%mdc{accessToken}",
                        "userId" :"%mdc{userId}",
                        "requestMap" :"%mdc{requestMap}",
                        "apiName" :"%mdc{apiName}",
                        "postBody" :"%mdc{postBody}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <appender name="elklogstash"
              class="net.logstash.logback.appender.LogstashTcpSocketAppender">

        <destination>192.168.2.173:9251</destination>
        <queueSize>1048576</queueSize>
        <encoder charset="UTF-8"
                 class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                        <!--日志级别 -->
                        "level": "%level",
                        <!--应用名称 -->
                        "id" :"%mdc{id}",
                        "keyWordRoot" :"%mdc{keyWordRoot}",
                        "keyWordSecond" :"%mdc{keyWordSecond}",
                        "createTime" :"%mdc{createTime}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>


    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="amazon"/>
    </root>
    <logger name="AmazonSystem" level="error">
        <appender-ref ref="amazon"/>
    </logger>
    <logger name="AmazonRabbitmq" level="error">
        <appender-ref ref="amazonmq"/>
    </logger>

    <logger name="com.snomyc.common.base.aspect.RequestApiLogInterceptor" level="INFO" additivity="false">
        <appender-ref ref="LOGSTASH"/>
    </logger>

    <logger name="ELKLog" level="error" additivity="false">
        <appender-ref ref="elklogstash"/>
    </logger>
</configuration>